<div class="bg-login">
    <div class="modal-login">
        <div class="close_login">+</div>
        <p>
        <h3> Login</h3>
        </p>
        <form method="post" id="nForm">
            <div class="wrap-login100">
                <div class="form-group mx-sm-3 mb-2">
                    <label for="phone_number" class="sr-only">phone number</label>
                    <input type="text" class="form-control" name="phone_number" id="inputmail"
                        placeholder="phone number">
                </div>

                <br>

                <div class="form-group mx-sm-3 mb-2">
                    <label for="inputPassword2" class="sr-only">Password</label>
                    <input type="password" class="form-control" name="mdp" id="inputPassword" placeholder="Password">
                </div>

                <div class="text-right p-t-8 p-b-31">
                    <a class="link link-primary" href="/registration">Vous ne possede pas de comptes?</a>
                </div>
                <br>
                <div>
                    <input type="submit" value="Connexion" class="btn btn-success">
                </div>
                <div class="txt1 text-center p-t-54 p-b-20">
                    <span>
                        Connectez vous via
                    </span>
                </div>

                <div class="social">
                    <a href="#" class="login100-social-item bg1">
                        <i class="fa fa-facebook"></i>
                    </a>

                    <a href="#" class="login100-social-item bg2">
                        <i class="fa fa-twitter"></i>
                    </a>

                    <a href="#" class="login100-social-item bg3">
                        <i class="fa fa-google"></i>
                    </a>
                </div>
            </div>
    </div>
</div>
</div>
</form>
</div>
</div>
