<%-include("./layout/header") %>

<body id="default_theme" class="team">
   <!-- header -->
   <header class="header header_style1">
      <div class="container">
         <div class="row">
            <div class="col-md-9 col-lg-10">
               <div class="logo"><a href="index.html"><img src="images/logo.png" alt="#" /></a></div>
               <div class="main_menu float-right">
                  <div class="menu">
                     <ul class="clearfix">
                        <li><a href="/about">A Propos</a></li>
                        <li><a href="/service">Chercher Jobs</a></li>
                        <li><a href="/team">Equipe</a></li>
                        <li><a href="/profile">Votre Profile</a></li>
                     </ul>
                  </div>
               </div>
            </div>

         </div>
      </div>
   </header>
   <section id="banner_parallax" class="inner_page_banner slide_banner1">
      <div class="container">
         <div class="row">
            <div class="col-md-12">
               <div class="full">
                  <div class="slide_cont">
                     <h2>Votre Profile</h2>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
   <!-- end header -->
   <!-- section -->
   <section class="layout_padding">
      <div class="container" style="margin-left: 100px;">
         <div class="row">
            <ul>
               <li><button class="btnbtn btn-success" id="btn_profile">Info Profile</button></li>
               <li><button class="btnbtn btn-success" id="btn_consult">Consulter</button></li>
               <li><button class="btnbtn btn-success" id="btn_jobs">Mes Jobs</button></li>
               <li><button class="btnbtn btn-success" id="btn_media">Publier</button></li>
               <li><button class="btnbtn btn-success" id="btn_stats">Statistiques</button></li>
            </ul>
         </div>

         <!-- section profile-->
         <div class="front_profile">
            <div class="container">
               <table class="table">
                  <tr>
                  <td>Votre nom</td>
                  <td>Sime Excel</td>
                  <td><button class="btn btn-primary" style="size: 5px;"><i class="fa fa-pencil"></i></button> </td>
               </tr>
               <tr>
                  <td>Votre Prenom</td>
                  <td>TOi TOI</td>
                  <td><button class="btn btn-primary" style="size: 5px;"><i class="fa fa-pencil"></i></button> </td>
               </tr>
               <tr>
                  <td>Votre email</td>
                  <td>lui@gmail.com</td>
                  <td><button class="btn btn-primary" style="size: 5px;"><i class="fa fa-pencil"></i></button> </td>
               </tr>
               <tr>
                  <td>Votre Mot de passe</td>
                  <td>*************  <button class="btneye btn-danger" style="text-decoration: none;"><i class="fa fa-eye"></i></button></td>
                  <td><button class="btn btn-primary" style="size: 5px;"><i class="fa fa-pencil"></i></button> </td>
               </tr>
               <tr>
                  <td>Votre Description</td>
                  <td>je suis ....  <button class="btneye btn-danger" style="text-decoration: none;"><i class="fa fa-eye"></i></button></i></td>
                  <td><button class="btn btn-primary" style="size: 5px;"><i class="fa fa-pencil"></i></button> </td>
               </tr>
               <tr>
                  <td>Denomination</td>
                  <td>Personne physique</i></td>
                  <td><button class="btn btn-primary" style="size: 5px;"><i class="fa fa-pencil"></i></button> </td>
               </tr>
               <tr>
                  <td>Profession</td>
                  <td>Developpeur, formateur, ...<button class="btneye btn-danger" style="text-decoration: none;"><i class="fa fa-eye"></i></button></i></td>
                  <td><button class="btn btn-primary" style="size: 5px;"><i class="fa fa-pencil"></i></button> </td>
               </tr>
               </table>
            </div>
         </div>
         <!-- section consulter-->
         <div class="front_consult">
            <div class="container">
               <p><h3>activités publier récement:</h3> </p>
               <div class="card-deck">
                  <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
                     <div class="card-header">Maintenancier</div>
                     <div class="card-body">
                       <h5 class="card-title">besoin d'un agent informatique</h5>
                       <p class="card-text" style="color: white;">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                     </div>
                   </div>
                   <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
                     <div class="card-header">Adminsitrateur systeme</div>
                     <div class="card-body">
                       <h5 class="card-title">besoin d'un agent informatique</h5>
                       <p class="card-text" style="color: white;">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                     </div>
                   </div>
                   
               </div>
               <p><h3>activités plus vieille:</h3> </p>
               <div class="card-deck">
                  <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
                     <div class="card-header">Ordinateur en panne</div>
                     <div class="card-body">
                       <h5 class="card-title">besoim d'un reparateur pour mon ordinateur</h5>
                       <p class="card-text" style="color: white;">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                     </div>
                   </div>
                   <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
                     <div class="card-header">Mot de passe oublier</div>
                     <div class="card-body">
                       <h5 class="card-title">j'ai oublier mon mot de passe</h5>
                       <p class="card-text" style="color: white;">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                     </div>
                   </div>
               </div>
            </div>
         </div>
         <!-- section Mes jobs-->
         <div class="front_jobs">
            <div class="container">
               <p><h3>Vos Jobs en cours:</h3></p>
               <div class="card-columns">
                  <!-- 1-->
                  <div class="card ">
                    <img class="card-img-top" src="images/bg_gradinat.png" alt="Card image cap">
                    <div class="card-body">
                     <h5 class="card-title">Infographe</h5>
                     <p class="card-text">creer des affiches publicitaire pour l'entreprise Projet M1.</p>
                   </div>
                   <ul class="list-group list-group-flush">
                     <li class="list-group-item">publier par: Mr. Donald Daquin</li>
                     <li class="list-group-item">Accepter par vous: Prosper Abouar</li>
                     <li class="list-group-item">Delai time: 2mois</li>
                   </ul>
                   <div class="card-body">
                     <a href="#" class="card-link">Voir plus</a>
                     <a href="#" class="card-link">Annuler le job</a>
                   </div>
                    <div class="card-footer">
                      <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                  </div>
                  <!-- 2-->
                  <div class="card">
                    <img class="card-img-top" src="images/bg_gradinat.png" alt="Card image cap">
                    <div class="card-body">
                     <h5 class="card-title">Developpeur</h5>
                     <p class="card-text">creer des affiches publicitaire pour l'entreprise Projet M1.</p>
                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">publier par: Mr. Donald Daquin</li>
                    <li class="list-group-item">Accepter par vous: Prosper Abouar</li>
                    <li class="list-group-item">Delai time: 2mois</li>
                  </ul>
                  <div class="card-body">
                    <a href="#" class="card-link">Voir plus</a>
                    <a href="#" class="card-link">Annuler le job</a>
                  </div>
                    <div class="card-footer">
                      <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                  </div>
                  <!-- 3-->
                  <div class="card">
                    <img class="card-img-top" src="images/bg_gradinat.png" alt="Card image cap">
                    <div class="card-body">
                     <h5 class="card-title">Formation photoshop</h5>
                     <p class="card-text">creer des affiches publicitaire pour l'entreprise Projet M1.</p>
                   </div>
                   <ul class="list-group list-group-flush">
                     <li class="list-group-item">publier par: Mr. Donald Daquin</li>
                     <li class="list-group-item">Accepter par vous: Prosper Abouar</li>
                     <li class="list-group-item">Delai time: 2mois</li>
                   </ul>
                   <div class="card-body">
                     <a href="#" class="card-link">Voir plus</a>
                     <a href="#" class="card-link">Annuler le job</a>
                   </div>
                    <div class="card-footer">
                      <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                  </div>
                  <!-- end-->
                  <div class="card">
                     <img class="card-img-top" src="images/bg_gradinat.png" alt="Card image cap">
                     <div class="card-body">
                      <h5 class="card-title">Formation photoshop</h5>
                      <p class="card-text">creer des affiches publicitaire pour l'entreprise Projet M1.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">publier par: Mr. Donald Daquin</li>
                      <li class="list-group-item">Accepter par vous: Prosper Abouar</li>
                      <li class="list-group-item">Delai time: 2mois</li>
                    </ul>
                    <div class="card-body">
                      <a href="#" class="card-link">Voir plus</a>
                      <a href="#" class="card-link">Annuler le job</a>
                    </div>
                     <div class="card-footer">
                       <small class="text-muted">Last updated 3 mins ago</small>
                     </div>
                   </div>
                   <div class="card">
                     <img class="card-img-top" src="images/bg_gradinat.png" alt="Card image cap">
                     <div class="card-body">
                      <h5 class="card-title">Formation photoshop</h5>
                      <p class="card-text">creer des affiches publicitaire pour l'entreprise Projet M1.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">publier par: Mr. Donald Daquin</li>
                      <li class="list-group-item">Accepter par vous: Prosper Abouar</li>
                      <li class="list-group-item">Delai time: 2mois</li>
                    </ul>
                    <div class="card-body">
                      <a href="#" class="card-link">Voir plus</a>
                      <a href="#" class="card-link">Annuler le job</a>
                    </div>
                     <div class="card-footer">
                       <small class="text-muted">Last updated 3 mins ago</small>
                     </div>
                   </div>
                   <div class="card">
                     <img class="card-img-top" src="images/bg_gradinat.png" alt="Card image cap">
                     <div class="card-body">
                      <h5 class="card-title">Formation photoshop</h5>
                      <p class="card-text">creer des affiches publicitaire pour l'entreprise Projet M1.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">publier par: Mr. Donald Daquin</li>
                      <li class="list-group-item">Accepter par vous: Prosper Abouar</li>
                      <li class="list-group-item">Delai time: 2mois</li>
                    </ul>
                    <div class="card-body">
                      <a href="#" class="card-link">Voir plus</a>
                      <a href="#" class="card-link">Annuler le job</a>
                    </div>
                     <div class="card-footer">
                       <small class="text-muted">Last updated 3 mins ago</small>
                     </div>
                   </div>
                   <!-- end-->
                </div>
            </div>
         </div>
         <!-- section publier-->
         <div class="front_media">
            <div class="container">
               <p><h3>Publier un job:</h3></p>
               <div class="">
                  <form class="form" action="" method="post">
                  <label>publier</label><br>
                  <input type="text" name="name_media" placeholder="nom du job" class="form-control mr-sm-2"><br>
                  <input type="text" name="intitule_media" placeholder="intitule du job" class="form-control mr-sm-2"><br>
                  <input type="text" name="price" placeholder="tarif du job" class="form-control mr-sm-2"><br>
                  <select class="selectpicker form-control" data-style="btn-green">
                     <option aria-placeholder="devise">Devise</option>
                     <option>Dollars americain</option>
                     <option>FCFA</option>
                     <option>Euro</option>
                  </select><br>
                  <textarea class="text-area" placeholder="description du jobs" style="width: 50rem; height: 20rem;"></textarea><br>
                  <input type="submit" value="publier" class="btn btn-info"><br>
               </form>
            </div>
            </div>
         </div>
         <!-- section Statistique-->
         <div class="front_stats">
            <div class="container">
               <p><h3>Vos Statistiques:</h3></p>
               <div class="card blue">
                  <label>en periode</label>
            </div>
            </div>
         </div>
         <!-- END-->
      </div>
   </section>
   <!-- end section -->


</body>

</html>

<%-include("./layout/scripts") %>



<script
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8eaHt9Dh5H57Zh0xVTqxVdBFCvFMqFjQ&callback=initMap"></script>
<!-- end google map js -->
<script type="text/javascript">
document.getElementById('btn_profile').addEventListener('click', function(){
    document.querySelector('.front_profile').style.display = 'flex';
    document.querySelector('.front_consult').style.display = 'none';
    document.querySelector('.front_jobs').style.display = 'none';
    document.querySelector('.front_media').style.display = 'none';
    document.querySelector('.front_stats').style.display = 'none';
});
document.getElementById('btn_consult').addEventListener('click', function(){
    document.querySelector('.front_consult').style.display = 'flex';
    document.querySelector('.front_profile').style.display = 'none';
    document.querySelector('.front_jobs').style.display = 'none';
    document.querySelector('.front_media').style.display = 'none';
    document.querySelector('.front_stats').style.display = 'none';
});
document.getElementById('btn_jobs').addEventListener('click', function(){
    document.querySelector('.front_jobs').style.display = 'flex';
    document.querySelector('.front_profile').style.display = 'none';
    document.querySelector('.front_consult').style.display = 'none';
    document.querySelector('.front_media').style.display = 'none';
    document.querySelector('.front_stats').style.display = 'none';
});
document.getElementById('btn_media').addEventListener('click', function(){
    document.querySelector('.front_media').style.display = 'flex';
    document.querySelector('.front_profile').style.display = 'none';
    document.querySelector('.front_jobs').style.display = 'none';
    document.querySelector('.front_consult').style.display = 'none';
    document.querySelector('.front_stats').style.display = 'none';
});
document.getElementById('btn_stats').addEventListener('click', function(){
    document.querySelector('.front_stats').style.display = 'flex';
    document.querySelector('.front_profile').style.display = 'none';
    document.querySelector('.front_jobs').style.display = 'none';
    document.querySelector('.front_media').style.display = 'none';
    document.querySelector('.front_consult').style.display = 'none';
});

</script>