<%-include("../layout/header") %>

<body id="default_theme" class="team">
   <!-- header -->
   <header class="header header_style1">
      <div class="container">
         <%-include("../layout/nav") %>

      </div>
   </header>
   <section id="banner_parallax" class="inner_page_banner slide_banner1">
      <div class="container">
         <div class="row">
            <div class="col-md-12">
               <div class="full">
                  <div class="slide_cont">
                     <h2>Votre Profile</h2>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
   <!-- end header -->
   <!-- section -->
   <section class="layout_padding">
      <div class="container" style="margin-left: 100px;">
         <div class="row">
            <ul>
               <li><button class="btnbtn btn-success" id="btn_profile">Info Profile</button></li>
               <li><button class="btnbtn btn-success" id="btn_consult">Mes publications</button></li>
               <li><button class="btnbtn btn-success" id="btn_jobs">Mes Contrats</button></li>
               <li><button class="btnbtn btn-success" id="btn_media">Publier</button></li>
               <li><button class="btnbtn btn-success" id="btn_stats">Statistiques</button></li>
            </ul>
         </div>

         <!-- section profile-->
         <div class="front_profile">
            <div class="container" id="tb_profile">
               
            </div>
         </div>
         <!-- section consulter-->
         <div class="front_consult">
            <div class="" id="tb_media">
               
            </div>
            <div class="container">
               <p><h3>activités publier récement:</h3> </p>
               <div class="card-deck" id="tb_pub">
                  
                   
               </div>               
            </div>
         </div>
         <!-- section Mes contrats-->
         <div class="front_jobs">
            <div class="container">
               <div class="container" id="tb_contrat">

               </div>
               <p><h3>Vos contrat en cours:</h3></p>
               <div class="card-columns">
                  <!-- 1-->
                  <div class="card ">
                    <img class="card-img-top" src="images/bg_gradinat.png" alt="Card image cap">
                    <div class="card-body">
                     <h5 class="card-title">Infographe</h5>
                     <p class="card-text">creer des affiches publicitaire pour l'entreprise Projet M1.</p>
                   </div>
                   <ul class="list-group list-group-flush">
                     <li class="list-group-item">publier par: Mr. Donald Daquin</li>
                     <li class="list-group-item">Accepter par vous: Prosper Abouar</li>
                     <li class="list-group-item">Delai time: 2mois</li>
                   </ul>
                   <div class="card-body">
                     <a href="#" class="card-link">Voir plus</a>
                     <a href="#" class="card-link">Annuler le job</a>
                   </div>
                    <div class="card-footer">
                      <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                  </div>
                  <!-- 2-->
                  <div class="card">
                    <img class="card-img-top" src="images/bg_gradinat.png" alt="Card image cap">
                    <div class="card-body">
                     <h5 class="card-title">Developpeur</h5>
                     <p class="card-text">creer des affiches publicitaire pour l'entreprise Projet M1.</p>
                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">publier par: Mr. Donald Daquin</li>
                    <li class="list-group-item">Accepter par vous: Prosper Abouar</li>
                    <li class="list-group-item">Delai time: 2mois</li>
                  </ul>
                  <div class="card-body">
                    <a href="#" class="card-link">Voir plus</a>
                    <a href="#" class="card-link">Annuler le job</a>
                  </div>
                    <div class="card-footer">
                      <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                  </div>
                  <!-- 3-->
                  <div class="card">
                    <img class="card-img-top" src="images/bg_gradinat.png" alt="Card image cap">
                    <div class="card-body">
                     <h5 class="card-title">Formation photoshop</h5>
                     <p class="card-text">creer des affiches publicitaire pour l'entreprise Projet M1.</p>
                   </div>
                   <ul class="list-group list-group-flush">
                     <li class="list-group-item">publier par: Mr. Donald Daquin</li>
                     <li class="list-group-item">Accepter par vous: Prosper Abouar</li>
                     <li class="list-group-item">Delai time: 2mois</li>
                   </ul>
                   <div class="card-body">
                     <a href="#" class="card-link">Voir plus</a>
                     <a href="#" class="card-link">Annuler le job</a>
                   </div>
                    <div class="card-footer">
                      <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                  </div>
                  <!-- end-->
                  <div class="card">
                     <img class="card-img-top" src="images/bg_gradinat.png" alt="Card image cap">
                     <div class="card-body">
                      <h5 class="card-title">Formation photoshop</h5>
                      <p class="card-text">creer des affiches publicitaire pour l'entreprise Projet M1.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">publier par: Mr. Donald Daquin</li>
                      <li class="list-group-item">Accepter par vous: Prosper Abouar</li>
                      <li class="list-group-item">Delai time: 2mois</li>
                    </ul>
                    <div class="card-body">
                      <a href="#" class="card-link">Voir plus</a>
                      <a href="#" class="card-link">Annuler le job</a>
                    </div>
                     <div class="card-footer">
                       <small class="text-muted">Last updated 3 mins ago</small>
                     </div>
                   </div>
                   <div class="card">
                     <img class="card-img-top" src="images/bg_gradinat.png" alt="Card image cap">
                     <div class="card-body">
                      <h5 class="card-title">Formation photoshop</h5>
                      <p class="card-text">creer des affiches publicitaire pour l'entreprise Projet M1.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">publier par: Mr. Donald Daquin</li>
                      <li class="list-group-item">Accepter par vous: Prosper Abouar</li>
                      <li class="list-group-item">Delai time: 2mois</li>
                    </ul>
                    <div class="card-body">
                      <a href="#" class="card-link">Voir plus</a>
                      <a href="#" class="card-link">Annuler le job</a>
                    </div>
                     <div class="card-footer">
                       <small class="text-muted">Last updated 3 mins ago</small>
                     </div>
                   </div>
                   <div class="card">
                     <img class="card-img-top" src="images/bg_gradinat.png" alt="Card image cap">
                     <div class="card-body">
                      <h5 class="card-title">Formation photoshop</h5>
                      <p class="card-text">creer des affiches publicitaire pour l'entreprise Projet M1.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">publier par: Mr. Donald Daquin</li>
                      <li class="list-group-item">Accepter par vous: Prosper Abouar</li>
                      <li class="list-group-item">Delai time: 2mois</li>
                    </ul>
                    <div class="card-body">
                      <a href="#" class="card-link">Voir plus</a>
                      <a href="#" class="card-link">Annuler le job</a>
                    </div>
                     <div class="card-footer">
                       <small class="text-muted">Last updated 3 mins ago</small>
                     </div>
                   </div>
                   <!-- end-->
                </div>
            </div>
         </div>
         <!-- section publier-->
         <div class="front_media"> 
            <div class="container">
               <p><h3>Publier une Offre:</h3></p>
               <div class="">
                  <form class="form" action="" method="post" id="Form_media" enctype="multipart/form-data">
                  <label>publier</label><br>
                  <input type="text" name="task_description.title" placeholder="Donner un titre" class="form-control mr-sm-2" required><br>
                  <input type="text" name="task_description.priority" placeholder="Quel est la priorite (entre 1 et 2)" class="form-control mr-sm-2" required><br>
                  <input type="text" name="task_description.base_amount" placeholder="tarif de base du job" class="form-control mr-sm-2" required><br>
                  Date de debut:<input type="date" name="task_description.period.start_date" class="form-control mr-sm-2" required><br>
                  Date de fin:<input type="date" name="task_description.period.end_date" class="form-control mr-sm-2" required><br>
                  Images:<input type="file" name="task_description.medias" placeholder="inclure un media" class="form-control mr-sm-2"><br>
                  <input type="hidden" name="task_description.difficulty" value="low" class="form-control mr-sm-2" required><br>
                  <select class="selectpicker form-control" data-style="btn-green">
                     <option aria-placeholder="devise">Devise</option>
                     <option>Dollars americain</option>
                     <option>FCFA</option>
                     <option>Euro</option>
                  </select><br>
                  <textarea name="task_description.description" class="text-area" placeholder="description du jobs" style="width: 50rem; height: 20rem;" required></textarea><br>
                  <div><br></div>
                  <textarea name="close" class="text-area" placeholder="Decriver les close du contrat lier au job" style="width: 50rem; height: 20rem;" required></textarea><br>
                  <div><br></div>
                  <input type="submit" value="publier" class="btn btn-info"><br>
                  <div><br></div>
               </form>
            </div>
            </div>
         </div>
         <!-- section Statistique-->
         <div class="front_stats">
            <div class="container">
               <p><h3>Vos Statistiques:</h3></p>
               <div class="card blue">
                  <label>en periode</label>
            </div>
            </div>
         </div>
         <!-- END-->
      </div>
   </section>
   <!-- end section -->
</body>

</html>

<%-include("../layout/scripts") %>
<script type="module" src="js/app/profile.js"></script>
<script type="text/javascript">
document.getElementById('btn_profile').addEventListener('click', function(){
    document.querySelector('.front_profile').style.display = 'flex';
    document.querySelector('.front_consult').style.display = 'none';
    document.querySelector('.front_jobs').style.display = 'none';
    document.querySelector('.front_media').style.display = 'none';
    document.querySelector('.front_stats').style.display = 'none';
});
document.getElementById('btn_consult').addEventListener('click', function(){
    document.querySelector('.front_consult').style.display = 'flex';
    document.querySelector('.front_profile').style.display = 'none';
    document.querySelector('.front_jobs').style.display = 'none';
    document.querySelector('.front_media').style.display = 'none';
    document.querySelector('.front_stats').style.display = 'none';
});
document.getElementById('btn_jobs').addEventListener('click', function(){
    document.querySelector('.front_jobs').style.display = 'flex';
    document.querySelector('.front_profile').style.display = 'none';
    document.querySelector('.front_consult').style.display = 'none';
    document.querySelector('.front_media').style.display = 'none';
    document.querySelector('.front_stats').style.display = 'none';
});
document.getElementById('btn_media').addEventListener('click', function(){
    document.querySelector('.front_media').style.display = 'flex';
    document.querySelector('.front_profile').style.display = 'none';
    document.querySelector('.front_jobs').style.display = 'none';
    document.querySelector('.front_consult').style.display = 'none';
    document.querySelector('.front_stats').style.display = 'none';
});
document.getElementById('btn_stats').addEventListener('click', function(){
    document.querySelector('.front_stats').style.display = 'flex';
    document.querySelector('.front_profile').style.display = 'none';
    document.querySelector('.front_jobs').style.display = 'none';
    document.querySelector('.front_media').style.display = 'none';
    document.querySelector('.front_consult').style.display = 'none';
});

</script>