<%-include("../layout/header") %>

   <body id="default_theme" class="team">
      <!-- header -->
      <header class="header header_style1">
         <div class="container">
            <%-include("../layout/nav") %>

         </div>
      </header>
      <!-- end header -->
      <!-- section -->
      <section class="contact_section">
         <div class="container-fluid">
            <div class="row">
               <div class="col-xs-12 col-sm-12 col-md-6" style="padding:0;">
                  <div class="full">
                     <div class="logo"><a href="index.html"><img src="images/icon1.png" alt="#" /></a></div>
                     <div class="full">
                        <div class="slide wow fadeInRight" data-wow-delay="1s" data-wow-duration="2s"> <img src="images/pc-banner.png" alt="" /> </div>
                     </div>
                  </div>
               </div>
               <div class="col-xs-12 col-sm-12 col-md-6" style="padding:-100px;">
                  <div class="full">
                     <div class="contact_form white_heading_border">
                        <div class="contact_form_inner">
                           <div class="full_heading white_fonts heading_main heading_style_1">
                              <h2>Registration <span>Page</span></h2>
                           </div>
                           <p>Toute les informations que vous nous transmettez via cette pages resterons confidentielles.</p>
                           <div class="form_contact">
                                 
                           <div class="containerf">
                              <form method="post" enctype="multipart/form-data" class="Form_account" id="Form_account">
                              <div id="Form1" class="form1">
                                 <h3>Je m'inscrit en tant que:</h3>
                                 <select class="selectpicker form-control" name="type_user">
                                    <option value="">...</option>
                                    <option value="Personne morale">Personne morale</option>
                                    <option value="Personne physique">Personne physique</option>
                                 </select><br>
                                 <h3>Vous etez?</h3>
                                 <select class="selectpicker form-control" name="role">
                                    <option value="">...</option>
                                    <option value="Entreprise BTP">Entreprise BTP</option>
                                    <option value="Freelancer">Freelancer</option>
                                    <option value="Societe SARL">Societe SARL</option>
                                 </select>
                                 <div class="btn-box">
                                    <button type="button" id="next1">Next</button> 
                                 </div>
                              </div>

                              <div id="Form2" class="Form2">
                                 <h3>Vos information Personnel</h3> 
                                 <input type="text" name="person.first_name" placeholder="nom" required class="inputform">
                                 <input type="text" name="person.second_name" placeholder="prenom" required class="inputform">
                                 <input type="text" name="phone_number" placeholder="N- telephone" required class="inputform">
                                 <input type="email" name="email" placeholder="adresse mail" required class="inputform">
                                 <input type="text" name="address.country" placeholder="Pays" required class="inputform">
                                 <input type="text" name="address.region" placeholder="Region" required class="inputform">
                                 <input type="text" name="address.city" placeholder="Ville" required class="inputform">
                                 <input type="text" name="address.quarter" placeholder="Quartier" required class="inputform">
                                 <input type="text" name="address.bp" placeholder="BP" required class="inputform">
                                 <input type="date" name="person.birthday" placeholder="date de naissance" required class="inputform">
                                 <input type="password" name="mdp" placeholder="Mot de passe" required class="inputform">
                                 <input type="password" name="confirm_mdp" placeholder="confirm password" required class="inputform">
                                 
                                 <div class="btn-box">
                                    <button type="button" id="back1">Back</button>
                                    <button type="button" id="next2">Next</button>
                                 </div>
                              </div>
 
                              <div id="Form3" class="Form3">
                                 <h3>Votre parcours</h3>
                                 <input type="text" name="cv.title" placeholder="titre du cv" required class="inputform">
                                 <input type="text" name="cv.main_activity" placeholder="Votre activité principale" required class="inputform">
                                 <input type="text" name="cv.bio" placeholder="biographie" required class="inputform">
                                 <input type="text" name="cv.jobs" placeholder="Vos Competences" class="inputform">
                                 <input type="text" name="cv.extra" placeholder="Extras du CV" class="inputform"><br>
                                 <!-- Image de profile -->
                                    <label>Photo de profil:</label><br>
                                    <button type="button" class="btn btn-info" onclick='ouvrir_camera()'><i class="fa fa-camera"></i></button><br>
                                    <video id="sourcevid" width='220' height="80" autoplay="true" style="float: right; top: -50px;"></video>
                                    <canvas id="cvs" style='display:inline-block'></canvas> 
                                 <div class="btn-box">
                                    <button type="button" id="back2">Back</button>
                                    <input type="submit" value="Submit" class="btn btn-success">
                                 </div>
                              </div>
                           </form>
               
                              <script>
                                 var Form1 = document.getElementById("Form1");
                                 var Form2 = document.getElementById("Form2");
                                 var Form3 = document.getElementById("Form3");

                                 var next1 = document.getElementById("next1");
                                 var next2 = document.getElementById("next2");
                                 var back1 = document.getElementById("back1");
                                 var back2 = document.getElementById("back2");


                                 next1.onclick = function () {
                                    Form1.style.left = "-450px"
                                    Form2.style.left = "40px";
                                 }
                                 back1.onclick = function () {
                                    Form1.style.left = "50px"
                                    Form2.style.left = "550px"

                                 }
                                 next2.onclick = function () {
                                    Form2.style.left = "-450px"
                                    Form3.style.left = "40px"
                                 }
                                 back2.onclick = function () {
                                    Form2.style.left = "40px"
                                    Form3.style.left = "550px"
                                 }
                              </script>
                           </div>
                           <!-- end form -->
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- end section -->
      <!-- footer -->
      <footer class="footer_style_2">
         <div class="footer_top">
            <div class="container">
               <div class="row">
                  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 margin_bottom_30">
                     <div class="full width_9" style="margin-bottom:25px;"> <a href="index.html"><img class="img-responsive" width="250" src="images/logo.png" alt="#"></a> </div>
                     <div class="full width_9">
                        <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
                     </div>
                     <div class="full width_9">
                        <p>the vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati..</p>
                     </div>
                  </div>
                  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 margin_bottom_30">
                     <div class="full">
                        <div class="footer_blog_2 width_9">
                           <h3>Twitter Feed</h3>
                           <p><i class="fa fa-twitter"></i> Creative_Talent - 26 mins
                              Te invitamos a seguir la cta. de WEntrepreneur_ ¡Atrévete! #Emprendimiento #PyMES #Economía #Bussines #Negocios https://t.co/Y7tZMmxGHn
                           </p>
                           <p><i class="fa fa-twitter"></i> Creative_Talent - 26 mins
                              Te invitamos a seguir la cta. de WEntrepreneur_ ¡Atrévete! #Emprendimiento #PyMES #Economía #Bussines #Negocios https://t.co/Y7tZMmxGHn
                           </p>
                        </div>
                     </div>
                  </div>
                  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-2 margin_bottom_30">
                     <div class="full">
                        <div class="footer_blog_2">
                           <h3>Social</h3>
                        </div>
                     </div>
                     <div class="full">
                        <ul class="footer-links">
                           <li><a href="#"><i class="fa fa-facebook"></i> 256 Likes</a></li>
                           <li><a href="#"><i class="fa fa-github"></i> 57+ Projects</a></li>
                           <li><a href="#"><i class="fa fa-twitter"></i> 1,258 Followers</a></li>
                           <li><a href="#"><i class="fa fa-pinterest"></i> 2538+ Pins</a></li>
                        </ul>
                     </div>
                  </div>
                  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 margin_bottom_30">
                     <div class="full">
                        <div class="footer_blog_2 width_9">
                           <h3>Blog</h3>
                        </div>
                        <div class="blog_post_footer">
                           <div class="blog_post_img"> <img width="80" height="80" src="images/scr1.png" alt="#"> </div>
                           <div class="blog_post_cont">
                              <p class="date">July 22, 2015</p>
                              <p class="post_head">Round and round like a carousel</p>
                           </div>
                        </div>
                        <div class="blog_post_footer">
                           <div class="blog_post_img"> <img width="80" height="80" src="images/scr2.png" alt="#"> </div>
                           <div class="blog_post_cont">
                              <p class="date">July 22, 2015</p>
                              <p class="post_head">Round and round like a carousel</p>
                           </div>
                        </div>
                        <div class="blog_post_footer">
                           <div class="blog_post_img"> <img width="80" height="80" src="images/scr3.png" alt="#"> </div>
                           <div class="blog_post_cont">
                              <p class="date">July 22, 2015</p>
                              <p class="post_head">Round and round like a carousel</p>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- footer bottom -->
         <div class="footer_bottom">
            <p>Designed and developed<strong> for Project_university</strong></p>
         </div>
      </footer>
     
      <!-- end google map js -->
   </body>
</html>
<script type="module" src="js/app/registration.js"></script>


<%-include("../layout/scripts") %>
