<!DOCTYPE html>
<html lang="en">

<head>
   <!-- basic -->
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <!-- mobile metas -->
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="viewport" content="initial-scale=1, maximum-scale=1">
   <!-- site metas -->
   <title>Home Search</title>
   <meta name="keywords" content="">
   <meta name="description" content="">
   <meta name="author" content="">
   <!-- site icons -->
   <link rel="icon" href="images/fevicon/favicon.png" type="image/png" />
   <!-- bootstrap css -->
   <link rel="stylesheet" href="css/bootstrap.min.css" />
   <!-- site css -->
   <link rel="stylesheet" href="css/style.css" />
   <!-- responsive css -->
   <link rel="stylesheet" href="css/responsive.css" />
   <!-- colors css -->
   <link rel="stylesheet" href="css/colors.css" />
   <!-- wow animation css -->
   <link rel="stylesheet" href="css/animate.css" />

   <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->

   <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

   <link rel="stylesheet" href="myadd/css/searbar.css" />
   <link rel="stylesheet" href="myadd/css/home.css" />

</head>

<body id="default_theme" class="services">

   <section id="banner_parallax" class="slide_banner1">
      <div class="container">
         <div class="row">
            <div class="col-md-12">
               <div class="full">
                  <div class="slide_cont">
                     <h2>Search Engine</h2>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
   <!-- end header -->

   <!-- section -->
   <section class="layout_padding layer_style" style="padding-top: 30px;">
      <div class="container">
         <div class="row">
            <div class="col-sm-12">
               <div class="full text_align_center">
                  <div class="heading_main  ">
                     <h2 style="margin-bottom: 5px!important;">Open Service Search <span>Engine</span></h2>
                  </div>

                  <div class="searchbar" style="margin-bottom: 0;">
                     <input class="search_input" type="text" name="" placeholder="Search...">
                    
                     <a href="#" class="search_icon" ><i class="fas fa-search"></i></a>
                     <a href="#" class="search_icon search_close" style="background-color: transparent;"><i class="fas fa-close"></i></a>
                  </div>

                  <div class="instant-results">
                     <ul class="list-unstyled result-bucket">
                     </ul>
                  </div>

               </div>
            </div>
         </div>


         <!--=========== js section ===========-->
         <!-- jQuery (necessary for Bootstrap's JavaScript) -->
         <script src="js/externs/jquery.min.js"></script>
         <script src="js/externs/popper.min.js"></script>
         <script src="js/externs/bootstrap.min.js"></script>
         <script src="myadd/js/rest_controller.js"></script>
         <script src="myadd/js/stack.js"></script>
         <script src="myadd/js/main.js"></script> 
         <script src="myadd/js/home.js"></script> 

</body>



</html>