<div class="row">
    <div class="col-md-9 col-lg-10">
       <div class="logo"><a href="/"><img src="images/logo.png" alt="#" /></a></div>
       <div class="main_menu float-right">
          <div class="menu">
             <ul class="clearfix">
                 
                <li><a href="/about">A Propos</a></li>
                <li><a href="/service">Chercher Jobs</a></li>
                <li><a href="/team">Equipe</a></li>
                <li><a href="/profile">Votre Profile</a></li>

                <button  style="width: 100px;" class="btn btn-primary" id="btn_login"><i class="fa fa-circle" style="color:white;"></i></a> login</button>
             </ul>
          </div>
       </div>
    </div>
    <!-- tof de profil -->
    <div class="right" style="margin-right: -100px;">
       <p class="user"><img src="images/t1.png" height="60px" width="60px"></i></p>
     </div>
 </div>