<div class="row">
   <div class="col-md-9 col-lg-10">
      <div class="logo"><a href="/"><img src="images/logo.png" alt="#" /></a></div>
      <div class="main_menu float-right">
         <div class="menu">
            <ul class="clearfix">

               <li><a href="/about">A Propos</a></li>
               <li><a href="/search">Recherche</a></li>
               <li><a href="/team">Equipe</a></li>
               <li><a href="/profile">Votre Profile</a></li>
            </ul>
         </div>
      </div>
   </div>
</div>